:root {
  --clr-primary-100: #ffffff;
  --clr-primary-200: #FF5756;
  --clr-primary-300: #202020;
  
  --clr-nuetral-100: ;
  --clr-nuetral-200: ;
  --clr-nuetral-300: ;
  
  --clr-accent-100: ;
  --clr-accent-200: ;

  --ff: 'Roboto Condensed', sans-serif;
}

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  display: block;
}

/* Utility Classes */

.wrapper {
  max-width: 1245px;
  margin: 0 auto;
}

@media (max-width: 478px){
  .wrapper {
    max-width: 90%;
  }
}
/* Main Classes */

header {
  background-color: #f2f2f2da;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

header.scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,.08);
}

header:hover {
  background-color: var(--clr-primary-100);
}

.navBar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

@media (max-width: 478px) {
  .navBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-block-end: .5rem;
  }
}

.navList-leftSide {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2.6875rem;
  font-family: var(--ff);
  font-weight: 800;
  font-size: 1.15rem;
}

@media (max-width: 478px) {
  .navList-leftSide {
    justify-content: center;
    gap: 1rem;
    font-size: .9rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }
}

.navList-leftSide li {
  list-style: none;
}

.navLink {
  color: var(--clr-primary-300);
  text-decoration: none;
  list-style: none;
  position: relative;
  padding-block-end: .35rem;
}

.navLink::after {
  content: '';
  position: absolute;
  height: .185rem;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--clr-primary-300);
  transition: width .3s;
}

.navLink:hover::after {
  width: 100%;
}

@media (max-width: 478px) {
  .navLink::after {
    display: none;
  }
}

.navLogo {
  width: 120px;
  height: 120px;
}

@media (max-width: 478px) {
  .navLogo {
    width: 90px;
    height: 90px;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0 auto;
  }
}

.navList-rightSide {
  display: flex;
  gap: 2rem;
  justify-content: end;
  align-items: center;
  padding-inline-end: 6rem;
}

.navList-rightSide i {
  color: var(--clr-primary-300);
  font-size: 1.35rem;
}

@media (max-width: 478px) {
  .navList-rightSide {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    padding: 0;
    gap: 1rem;
  }

  .navList-rightSide i {
    font-size: 1rem;
  }
}

/* Hero Section */

.heroSection {
  height: 100vh;
  align-content: center;
  text-align: center;
  font-family: var(--ff);
}

.heroTitle {
  font-size: 2.75rem;
  margin-block-end: 1rem;
  font-weight: 800;
}

.spanOne {
  display: none;
}

.spanTwo {
  display: inline;
}

.heroContent, .heroCTA {
  font-size: 1.25rem;
  font-weight: 600;
}

.heroContent {
  margin-block-end: 3rem;
}

@media (max-width: 478px) {
  .heroTitle {
    font-size: 1.9rem;
  }

  .spanOne {
    display: inline;
  }

  .spanTwo {
    display: none;
  }

  .heroContent {
    font-size: .85rem;
    margin-block-end: 2rem;
  }
}

.heroCTA {
  background-color: var(--clr-primary-300);
  padding-block: .65rem;
  padding-inline: 3rem;
  border-radius: 100px;
  border: 3px solid var(--clr-primary-300);
  box-shadow: 0px 5px 8px 0px rgb(0, 0, 0, 0.35);
  color: var(--clr-primary-100);
  transition: 
    background-color ease 0.2s,
    color ease 0.2s,
    border ease 0.2s;
}

@media (max-width: 478px) {
  .heroCTA {
    padding-block: .4rem;
    padding-inline: 1.75rem;
    font-size: .9rem;
  }
}

.heroCTA:hover {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-100);
  border: 3px solid var(--clr-primary-200);
}

/* Bento Cards */

.bentoBox {
  font-family: var(--ff);
  background-color: var(--clr-primary-300);
  padding: 10rem;
}

.bentoTitle {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding-block-end: 3rem;
  color: var(--clr-primary-100);
}

@media (max-width: 478px) {
  .bentoBox {
    padding: 3rem 0 8rem 0;
  }

  .bentoTitle {
    font-size: 1.75rem;
  }
}

.bentoContainer {
  margin: 0 auto;
  max-width: 975px;
  min-height: 450px;
  box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.25);
  background-color: var(--clr-primary-100);
  border-radius: 10px;
  padding: 1.5625rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5625rem;

  transition: box-shadow ease 0.2s;
}

.bentoContainer:hover {
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.3);
}

@media (max-width: 478px) {
  .bentoContainer {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 2rem;
    background-color: var(--clr-primary-300);
    box-shadow: none;
  }
}

.bentoCard {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  display: grid;
  transition: all 0.3s ease-out;
}

.bentoCard:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 14px 18px rgba(0,0,0,0.2);
}

.bentoCard > * {
  align-content: center;
}

.bentoCard-title {
    font-size: 1.5rem;
    padding-block: .5rem;
    font-weight: 700;
    align-content: center;
    border: none;
}

@media (max-width: 478px) {
  .bentoCard {
    box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.25);
  }
  .bentoCard-title {
    font-size: 1.4rem;
    box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.25);
  }
}

.bentoOne {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--clr-primary-100);
}

.bentoOne-big {
  font-size: 8rem;
  font-weight: 900;
  line-height: .85;
  padding-block-start: 1rem;
}

.bentoOne-little {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.bentoOne .bentoCard-title {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-100);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 478px) {
  .bentoOne {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--clr-primary-300);
  }
  .bentoOne .bentoCard-title {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-300);
  }

  .bentoOne-big {
    font-size: 7rem;
    color: var(--clr-primary-100);
  }
  
  .bentoOne-little {
    font-size: 1rem;
    color: var(--clr-primary-100);
  }
}

.bentoTwo {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--clr-primary-300);
}

.bentoTwo-big {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: .85;
  padding-block-start: 1.125rem;
  color: var(--clr-primary-100);
}

.bentoTwo-little {
  font-size: 4rem;
  font-weight: 900;
  color: var(--clr-primary-100);
}

.bentoTwo .bentoCard-title {
  background-color: var(--clr-primary-100);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 478px) {
  .bentoTwo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .bentoTwo-big {
    font-size: 3.75rem;
  }
  
  .bentoTwo-little {
    font-size: 3rem;
    padding-block-end: .5rem;
  }
}

.bentoThree {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--clr-primary-300);
}

.bentoThree-big {
  font-size: 7.25rem;
  font-weight: 900;
  color: var(--clr-primary-100);
}

.bentoThree .bentoCard-title {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-300);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 478px) {
  .bentoThree {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: var(--clr-primary-300);
  }

  .bentoThree-big {
    font-size: 6rem;
    font-weight: 900;
    color: var(--clr-primary-100);
  }
  
  .bentoThree .bentoCard-title {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-300);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.bentoFour {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: var(--clr-primary-100);
}

.bentoFour-big {
  font-size: 6rem;
  font-weight: 900;
  line-height: .85;
  color: var(--clr-primary-300);
  padding-block-start: 2rem;
}

.bentoFour-little {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--clr-primary-300);
  padding-block-end: 2rem;
}

.bentoFour .bentoCard-title {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-100);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 478px) {
  .bentoFour {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: var(--clr-primary-300);
  }

  .bentoFour-big {
    font-size: 5rem;
    color: var(--clr-primary-100);
    padding-block-start: 1.8rem;
  }
  
  .bentoFour-little {
    font-size: 1.1rem;
    color: var(--clr-primary-100);
    padding-block-end: 2rem;
  }
  
  .bentoFour .bentoCard-title {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-300);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }
}

/* Core Value Cards */

.coreValue-container {
  font-family: var(--ff);
  padding-block-start: 10rem;
  padding-block-end: 15rem;
}

.coreValue-container h2 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding-block-end: 1.5rem;
}

@media (max-width: 478px) {
  .coreValue-container {
    padding-inline: 1rem;
    padding-block-start: 5rem;
    padding-block-end: 10rem;
  }

  .coreValue-container h2 {
    font-size: 1.75rem;
  }
}

.coreValue-Card {
    padding: 1rem;
    background-color: var(--clr-primary-300);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 175px;
    color: var(--clr-primary-100);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

.cardContainer-one, .cardContainer-two, .cardContainer-three {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media (max-width: 478px) {
  .cardContainer-one, .cardContainer-two, .cardContainer-three {
    display: flex;
    flex-direction: column;
    gap: rem;
    justify-content: center;
  }

  .coreValue-Card {
    width: 100%;
  }
}

.coreValue-Card h3 {
  font-weight: 600;
  font-size: 1.125rem;
  padding-block-end: 1rem;
}

.coreValue-Card p {
  font-size: 600;
  font-size: 1.125rem;
  padding-block-end: 3rem;
}

.coreValue-link {
  text-decoration: none;
  position: relative;
}

@media (max-width: 478px) {
  .coreValue-Card h3 {
    font-size: 1rem;
  }

  .coreValue-Card p {
    font-size: 1rem;
  }
}
.coreValue-link::after {
  content: '';
  position: absolute;
  height: .185rem;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--clr-primary-200);
  transition: width .3s;
}

.coreValue-Card a:hover::after {
  width: 18%;
}

.coreValue-Card a, .coreValue-Card i {
  color: var(--clr-primary-100);
}

.coreValue-Card .fa-arrow-right {
  margin-left: .25rem;
}

.coreValue-Card .fa-x {
  position: absolute;
  top: 15px;
  right: 15px;
}

footer {
  background-color: var(--clr-primary-300);
}

.footerGrid {
  font-family: var(--ff);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.footerOne{
  display: flex;
  gap: 1.75rem;
  padding-block-start: 2rem;
}

.footerNav-linkLeft li {
  list-style: none;
}

.footerNav-linkLeft a {
  text-decoration: none;
  color: var(--clr-primary-100);
}

.footerNav-linkLeft-title {
  font-size: 1rem;
  font-weight: 800;
}

.footerNav-linkLeft-subtitle {
  font-size: .75rem;
}

.footerTwo {
  text-align: center;
  color: var(--clr-primary-100);
  padding-block-end: 1rem;
}

.footerTwo address {
  font-size: .9375rem;
  font-weight: 600;
  margin-top: -1rem;
}

.footerTwo p {
  font-size: .75rem;
  font-weight: 600;
}

.footerLogo {
  width: 120px;
  height: 120px;
  display: inline-block;
}

.footerThree {
  display: flex;
  flex-direction: column;
  gap: .85rem;
  justify-content: center;
  align-items: center;
}

.footerThree a {
  text-decoration: none;
  color: var(--clr-primary-100);
  font-size: 1rem;
  font-weight: 800;
}

@media (max-width: 478px) {
  .footerGrid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .footerOne {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding-block: 1rem;
  }

  .footerNav-linkLeft-title {
    font-size: .9rem;
    text-align: center;
  }

  .footerNav-linkLeft-subtitle {
    text-align: center;
  }

  .footerTwo {
    grid-row-start: 3;
  }

  .footerThree {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-block-start: 2rem;
    padding-block-end: 1rem;
  }


}




