:root {
  --clr-primary-100: #ffffff;
  --clr-primary-200: #FF3B3E;
  --clr-primary-300: #000000;
  
  --clr-nuetral-100: #ffe6c4;
  --clr-nuetral-200: #810000;
  --clr-nuetral-300: ;
  
  --clr-accent-100: ;
  --clr-accent-200: ;

  --ff-heading: Impact, sans-serif;
  --ff-body: 'Trebuchet MS', sans-serif;

  --fs-100: .85rem;
  --fs-300: 1rem;
  --fs-400: 1.5rem;
  --fs-500: 2rem;
  --fs-600: 3.5rem;
}

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  display: block;
}

/* Utility Class */

.main--wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header {
  padding-block: 1.75rem;
  background-color: var(--clr-primary-300);
  padding-inline: 5rem;
  display: flex;
  justify-content: space-between;
}

.header--minimal {
  background-color: var(--clr-primary-300);
  padding-block: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    padding-inline: 1rem;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}


/* Base CSS for the navigation and hiding elements */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar__title {
  font-size: var(--fs-500);
  font-family: var(--ff-heading);
  color: var(--clr-primary-100);
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar__title {
    --fs-500: 1.5rem;
  }
}

.navbar__links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar__links a {
  font-family: var(--ff-body);
  font-size: var(--fs-300);
  font-weight: bold;
  color: var(--clr-primary-100);
  text-decoration: none;
  transition: color 0.1s ease;
}

.navbar__links a:hover {
  color: var(--clr-nuetral-100);
}

.login, .logout {
  font-family: var(--ff-body);
  font-size: var(--fs-300);
  font-weight: bold;
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  padding-inline: 20px;
  border-radius: 15px;
  border: 2px solid var(--clr-primary-100);
  transition: color 0.1s ease;
}

.login a {
  text-decoration: none;
  color: var(--clr-primary-100);
}

.logout {
  color: var(--clr-primary-100);
}

.login:hover, .logout:hover {
  background-color: var(--clr-nuetral-200);
}

.navbar__toggle {
  display: none;
  background: none;
  border: none;
}

/* Class to hide elements */
.hidden {
  display: none;
}

/* Main Content */
.main {
  flex: 1;
  display: flex;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Forn Card for login and password reset */
.material-icons.account__circle, .material-icons.lock {
  color: var(--clr-primary-300);
  font-size: 18px;
}

.wrapper__formCard {
  max-width: 400px;
  width: 100%;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  padding: 20px;
}

.formCard__title {
  text-align: center;
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  color: var(--clr-primary-300);
  margin-top: 5px;
  margin-bottom: 10px;
}

.wrapper__formCard .inputs {
  border: 2px solid var(--clr-primary-300);

  border-radius: 10px;
  width: 80%;
  margin-inline: auto;
  padding-block: 3px;
  margin-block: 10px;
  display: flex;
  justify-content: space-between;
}

.inputs input {
  width: 90%;
  padding-left: 5px;
  font-family: var(--ff-body);
  font-size: var(--fs-300);
  color: var(--clr-primary-300);
  margin-left: 2px;
  background-color: transparent;
  border: none;
  outline: none;
}

.inputs label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.inputs input::placeholder {
  color: var(--clr-primary-300);
}

.rem__for {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  margin-top: 30px;
}

.rem__for label, .rem__for a {
  text-decoration: none;
  color: var(--clr-primary-300);
  font-family: var(--ff-body);
}

.wrapper__formCard button {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-100);
  border: none;
  border-radius: 10px;
  font-family: var(--ff-body);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 80%;
  margin-inline: auto;
  margin-top: 15px;
  margin-block: 15px;
  padding: 5px;

  transition: background-color 0.2s ease, color 0.2s ease;
}

.wrapper__formCard button:hover {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-300);
}

.loginForm__errorMessage {
  font-family: var(--ff-body);
  font-weight: bold;
  color: var(--clr-primary-200);
  text-align: center;
}

.changePassword__errorMessage {
  font-family: var(--ff-body);
  font-weight: bold;
  color: var(--clr-primary-200);
}


/* footer */
.footer {
  background-color: var(--clr-primary-300);
  font-family: var(--ff-body);
  font-size: var(--fs-300);
  text-align: center;
  color: var(--clr-primary-100);
  padding: 2rem;
}

@media (max-width: 768px) {
  .footer {
    padding-block: 2rem;
    padding-inline: 1rem;
    --fs-300: .75rem;
  }
}

.footer__address {
  text-decoration: none;
  color: var(--clr-primary-100);
}

