:root {
  --clr-primary-100: #ffffff;
  --clr-primary-200: #FF5756;
  --clr-primary-300: #202020;
  
  --clr-nuetral-100: ;
  --clr-nuetral-200: ;
  --clr-nuetral-300: ;
  
  --clr-accent-100: ;
  --clr-accent-200: ;

  --ff: 'Roboto Condensed', sans-serif;
}

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  display: block;
}

/* Utility Classes 1245 */

.wrapper {
  max-width: 85%;
  margin: 0 auto;
}

@media (max-width: 478px){
  .wrapper {
    max-width: 90%;
  }
}
/* Main Classes */

header {
  background-color: var(--clr-primary-100);
  box-shadow: 0 2px 6px rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navBar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.navBar-minimal {
  display: flex;
  justify-content: center;
}

@media (max-width: 478px) {
  .navBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-block-end: .5rem;
  }
}

.navList-leftSide {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2.6875rem;
  font-family: var(--ff);
  font-weight: 800;
  font-size: 1rem;
}

@media (max-width: 478px) {
  .navList-leftSide {
    justify-content: center;
    gap: 1rem;
    font-size: .9rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }
}

.navList-leftSide li {
  list-style: none;
}

.navLink {
  color: var(--clr-primary-300);
  text-decoration: none;
  list-style: none;
  position: relative;
  padding-block-end: .35rem;
}

.navLink::after {
  content: '';
  position: absolute;
  height: .185rem;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--clr-primary-300);
  transition: width .3s;
}

.navLink:hover::after {
  width: 100%;
}

@media (max-width: 478px) {
  .navLink::after {
    display: none;
  }
}

.navLogo {
  width: 120px;
  height: 120px;
}

@media (max-width: 478px) {
  .navLogo {
    width: 90px;
    height: 90px;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0 auto;
  }
}

.navList-rightSide {
  display: flex;
  gap: 2rem;
  justify-content: end;
  align-items: center;
  padding-inline-end: 6rem;
}

.navList-rightSide i {
  color: var(--clr-primary-300);
  font-size: 1.35rem;
}

@media (max-width: 478px) {
  .navList-rightSide {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    padding: 0;
    gap: 1rem;
  }

  .navList-rightSide i {
    font-size: 1rem;
  }
}

/* footer section */

footer {
  background-color: var(--clr-primary-300);
}

.footerGrid {
  font-family: var(--ff);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.footerOne{
  display: flex;
  gap: 1.75rem;
  padding-block-start: 2rem;
}

.footerNav-linkLeft li {
  list-style: none;
}

.footerNav-linkLeft a {
  text-decoration: none;
  color: var(--clr-primary-100);
}

.footerNav-linkLeft-title {
  font-size: 1rem;
  font-weight: 800;
}

.footerNav-linkLeft-subtitle {
  font-size: .75rem;
}

.footerTwo {
  text-align: center;
  color: var(--clr-primary-100);
  padding-block-end: 1rem;
}

.footerTwo address {
  font-size: .9375rem;
  font-weight: 600;
  margin-top: -1rem;
}

.footerTwo p {
  font-size: .75rem;
  font-weight: 600;
}

.footerLogo {
  width: 120px;
  height: 120px;
  display: inline-block;
}

.footerThree {
  display: flex;
  flex-direction: column;
  gap: .85rem;
  justify-content: center;
  align-items: center;
  padding-inline-start: 7rem;
}

.footerThree a {
  text-decoration: none;
  color: var(--clr-primary-100);
  font-size: 1rem;
  font-weight: 800;
}

@media (max-width: 478px) {
  .footerGrid {
    grid-template-columns: auto;
  }

  .footerOne {
    display: none;
  }

  .footerTwo {
    grid-row-start: 3;
  }

  .footerThree {
    display: none
  }

  .footerLogo {
    width: 90px;
    height: 90px;
    display: inline-block;
  }
}

/* index.html page */

/* Hero Section */

.heroSection {
  height: 100vh;
  align-content: center;
  text-align: center;
  font-family: var(--ff);
}

.heroTitle {
  font-size: 2.75rem;
  margin-block-end: 1rem;
  font-weight: 800;
}

.spanOne {
  display: none;
}

.spanTwo {
  display: inline;
}

.heroContent, .heroCTA {
  font-size: 1.25rem;
  font-weight: 600;
}

.heroContent {
  margin-block-end: 3rem;
}

@media (max-width: 478px) {
  .heroTitle {
    font-size: 2rem;
  }

  .spanOne {
    display: inline;
  }

  .spanTwo {
    display: none;
  }

  .heroContent {
    margin: 0 auto;
    width: 95%;
    font-size: .9rem;
    margin-block-end: 2rem;
  }
}

.heroCTA {
  background-color: var(--clr-primary-300);
  padding-block: .65rem;
  padding-inline: 3rem;
  border-radius: 100px;
  border: 3px solid var(--clr-primary-300);
  box-shadow: 0px 5px 8px 0px rgb(0, 0, 0, 0.35);
  color: var(--clr-primary-100);
  transition: 
    background-color ease 0.2s,
    color ease 0.2s,
    border ease 0.2s;
}

.heroCTA a {
  text-decoration: none;
  color: var(--clr-primary-100);

}

@media (max-width: 478px) {
  .heroCTA {
    padding-block: .4rem;
    padding-inline: 1.75rem;
    font-size: .9rem;
  }
}

.heroCTA:hover {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-100);
  border: 3px solid var(--clr-primary-200);
}

/* Bento Cards section */

.bentoBox {
  font-family: var(--ff);
  background-color: var(--clr-primary-300);
  padding: 10rem;
}

.bentoTitle {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding-block-end: 3rem;
  color: var(--clr-primary-100);
}

@media (max-width: 478px) {
  .bentoBox {
    padding: 3rem 0 8rem 0;
  }
  .bentoTitle {
    font-size: 1.75rem;
    padding-block-start: 8rem;
    padding-block-end: .5rem;
  }
}

.bentoContainer {
  margin: 0 auto;
  max-width: 975px;
  min-height: 450px;
  box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.25);
  background-color: var(--clr-primary-100);
  border-radius: 10px;
  padding: 1.5625rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5625rem;

  transition: box-shadow ease 0.2s;
}

.bentoContainer:hover {
  box-shadow: 0 0 18px rgba(255, 255, 255, 0.3);
}

@media (max-width: 478px) {
  .bentoContainer {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 3rem;
    background-color: var(--clr-primary-00);
    box-shadow: none;
  }
}

.bentoCard {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  display: grid;
  transition: all 0.3s ease-out;
}

.bentoCard:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 14px 18px rgba(0,0,0,0.2);
}

.bentoCard > * {
  align-content: center;
}

.bentoCard-title {
    font-size: 1.5rem;
    padding-block: .5rem;
    font-weight: 700;
    align-content: center;
    border: none;
}

@media (max-width: 478px) {

  .bentoCard {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }
  .bentoCard-title {
    font-size: 1.4rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

  }
}

.bentoOne {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--clr-primary-100);
}

.bentoOne-big {
  font-size: 8rem;
  font-weight: 900;
  line-height: .85;
  padding-block-start: 1rem;
}

.bentoOne-little {
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.bentoOne .bentoCard-title {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-100);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 478px) {
  .bentoOne {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: var(--clr-primary-300);
  }
  .bentoOne .bentoCard-title {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-300);
  }

  .bentoOne-big {
    font-size: 7rem;
    color: var(--clr-primary-100);
  }
  
  .bentoOne-little {
    font-size: 1rem;
    color: var(--clr-primary-100);
  }
}

.bentoTwo {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--clr-primary-300);
}

.bentoTwo-big {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: .85;
  padding-block-start: 1.125rem;
  color: var(--clr-primary-100);
}

.bentoTwo-little {
  font-size: 4rem;
  font-weight: 900;
  color: var(--clr-primary-100);
}

.bentoTwo .bentoCard-title {
  background-color: var(--clr-primary-100);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 478px) {
  .bentoTwo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .bentoTwo-big {
    font-size: 3.75rem;
  }
  
  .bentoTwo-little {
    font-size: 3rem;
    padding-block-end: .5rem;
  }
}

.bentoThree {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--clr-primary-300);
}

.bentoThree-big {
  font-size: 7.25rem;
  font-weight: 900;
  color: var(--clr-primary-100);
}

.bentoThree .bentoCard-title {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-300);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 478px) {
  .bentoThree {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: var(--clr-primary-300);
  }

  .bentoThree-big {
    font-size: 6rem;
    font-weight: 900;
    color: var(--clr-primary-100);
  }
  
  .bentoThree .bentoCard-title {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-300);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.bentoFour {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: var(--clr-primary-100);
}

.bentoFour-big {
  font-size: 6rem;
  font-weight: 900;
  line-height: .85;
  color: var(--clr-primary-300);
  padding-block-start: 2rem;
}

.bentoFour-little {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--clr-primary-300);
  padding-block-end: 2rem;
}

.bentoFour .bentoCard-title {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-100);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 478px) {
  .bentoFour {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: var(--clr-primary-300);
  }

  .bentoFour-big {
    font-size: 5rem;
    color: var(--clr-primary-100);
    padding-block-start: 1.8rem;
  }
  
  .bentoFour-little {
    font-size: 1.1rem;
    color: var(--clr-primary-100);
    padding-block-end: 2rem;
  }
  
  .bentoFour .bentoCard-title {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-300);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

  }
}

/* Core Value Cards Section */

.coreValue-container {
  font-family: var(--ff);
  padding-block-start: 10rem;
  padding-block-end: 10rem;
}

.coreValue-container h2 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding-block-end: 1.5rem;
}

@media (max-width: 478px) {
  .coreValue-container {
    padding-inline: 1rem;
    padding-block-start: 5rem;
    padding-block-end: 10rem;
  }

  .coreValue-container h2 {
    font-size: 1.75rem;
  }
}

.coreValue-Card {
    padding: 1.25rem;
    background-color: var(--clr-primary-300);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 225px;
    height: 300px;
    color: var(--clr-primary-100);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;

    transition: all 0.3s ease-out;
}

.coreValue-Card:hover {
  transform: translateY(-10px) scale(1.005) translateZ(0);
  box-shadow: 0 14px 18px rgba(0,0,0,0.2);
}

.cardContainer-one{
  margin-bottom: 1rem;
  display: flex;
  gap: 1.15rem;
  justify-content: center;
}

@media (max-width: 478px) {
  .cardContainer-one, .cardContainer-two, .cardContainer-three {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  }

  .coreValue-Card {
    width: 100%;
    height: 175px;
  }
}

.coreValue-Card h3 {
  font-weight: 600;
  font-size: 1.125rem;
  padding-block-end: 1rem;
}

.coreValue-Card p {
  font-size: 600;
  font-size: 1rem;
  padding-block-start: 3rem;
  padding-block-end: 6rem;
}

.coreValue-link {
  text-decoration: none;
  position: relative;
}

@media (max-width: 478px) {
  .coreValue-Card h3 {
    font-size: 1rem;
  }

  .coreValue-Card p {
    font-size: 1rem;
    padding-block-start: 1rem;
    position: relative;
  }

  .coreValue-link {
    position: absolute;
    left: 20px;
    bottom: 10px;
  }
}
.coreValue-link::after {
  content: '';
  position: absolute;
  height: .185rem;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: var(--clr-primary-200);
  transition: width .3s;
}

.coreValue-Card a:hover::after {
  width: 32%;
}

.coreValue-Card a, .coreValue-Card i {
  color: var(--clr-primary-100);
}

.coreValue-Card .fa-arrow-right {
  margin-left: .25rem;
}

.coreValue-Card .fa-x {
  position: absolute;
  font-size: .8rem;
  top: 20px;
  right: 20px;
}

/* Login.html Page */

.formCard {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginForm, #changePasswordForm {
  background-color: var(--clr-primary-100);
  box-shadow:-8px 8px rgba(0,0,0);
  border-radius: 10px;
  font-family: var(--ff);
  border: 4px solid var(--clr-primary-300);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formCard p {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  color: var(--clr-primary-300);
  font-size: 2rem;
  line-height: 1.4;
}

.formCard span {
  font-weight: 500;
  padding-block-end: 1rem;
  font-size: 1.5rem;
}

.loginForm-input, .resetForm-input {
  box-shadow: -5px 5px rgba(0,0,0);
  border: 3px solid var(--clr-primary-300);
  border-radius: 5px;
  width: 300px
}

.loginForm-input input, .resetForm-input input {
  padding-inline-start: .5rem;
  padding-block: .4rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: var(--clr-primary-300);
  font-weight: 500;
  font-size: 1.15rem;
}

.remFor {
  display: flex;
  justify-content: space-between;
  color: var(--clr-primary-300);
  font-weight: 500;
}

.remFor a {
  text-decoration: none;
  color: var(--clr-primary-300);
}

.accountLogin {
  box-shadow: -5px 5px rgba(0,0,0);
  border: 3px solid var(--clr-primary-300);
  border-radius: 5px;
  width: 200px;
  padding-block: .3rem;
  margin: 0 auto;
  color: var(--clr-primary-300);
  font-weight: 500;
  font-size: 1.15rem;
  background-color: var(--clr-primary-100);
  position: relative;
  transition: all 250ms;
  z-index: 1;
}

#changePasswordForm .accountLogin {
  margin-block-start: 1rem;
}

.accountLogin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--clr-primary-200);
  z-index: -1;
  transition: all 250ms;
}

.accountLogin:hover {
  color: var(--clr-primary-100);
}

.accountLogin:hover::before {
  width: 100%;
}

@media (max-width: 478px) {
  #loginForm {
    padding: 1.25rem;
  }
  
  .formCard p {
    font-size: 1.75rem;
    line-height: 1.2;
  }
  
  .formCard span {
    font-size: 1.2rem;
    padding-block-end: 0;
  }
  
  .loginForm-input {
    width: 250px;
  }
  
  .loginForm-input input {
    padding-inline-start: .25rem;
    padding-block: .3rem;
    font-size: 1rem;
  }

  .remFor {
    font-size: .75rem;
    align-items: center;
  }

  .accountLogin {
    width: 150px;
    padding-block: .2rem;
    margin: 0 auto;
    font-size: 1rem;
    transition: all 250ms;
    z-index: 1;
  }
}

/* change-password.html */


/* TheBrand.html Page */

.titleSection {
  padding-block-end: 4rem;
  margin-block-end: 5rem;
  margin-top: 120px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff);
  box-shadow: 0px 6px 4px rgba(0,0,0,.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.positioningContainer {
  position: relative;
}

 .titleSection h1 {
  font-size: 4rem;
  font-weight: 800;
  text-decoration-line: underline;
  text-underline-offset: .5rem;
  background-image: linear-gradient(var(--clr-primary-200) 54%, var(--clr-primary-100) 100%);
  color: transparent;
  background-clip: text;
}

.triangleContainer {
  position: absolute;
  top: 79%;
  left: 0;
  right: 0;
}

.flags {
  display: flex;
  justify-content: center;
}

.redTriangle {
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.20));
}

.whiteTriangle {
  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.25));
  margin-inline: -0.6rem;
}

@media (max-width: 478px) {
  .titleSection {
    padding-block-end: 1.5rem;
    margin-block-end: 3rem;
    height: 130px;
  }

  .titleSection h1 {
    text-align: center;
    font-size: 3.5rem;
    text-decoration: none;
    line-height: 2;
    text-decoration-line: underline;
    text-underline-offset: .5rem;
  }

  .triangleContainer {
    top: 59%;
  }
}

/* Mission and Vision Section */

.mvSection, .cvSection {
  padding-block-start:  7.5rem;
  font-family: var(--ff);
  color: var(--clr-primary-300);
}

.mvSection {
  background-image: url(../assets/Black\ Line\ graphic\(opacity10\).svg);
  background-repeat: space repeat;
}

@media (max-width: 478px) {
  .mvSection {
    padding-block-start: 6rem;
  }
}

.mvTitle-container {
  padding-block-end: 2rem;
}

.mvSection h2, .cvSection h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.mvTitle-container > p {
  font-size: 1.15rem;
  font-weight: 700;
  text-align: center;
  margin-inline: auto;
  margin-block-start: .5rem;
  width: 50%;
  line-height: 1.3;
}

.mvCard-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}

.mvCard, .cvCard {
  background-color: var(--clr-primary-100);
  border: 3px solid var(--clr-primary-300);
  box-shadow: -8px 8px 0px var(--clr-primary-300);
  border-radius: 10px;
  padding: 1rem 2rem 1.5rem 2rem;
}

.mvTitle, .cvTitle {
  font-size: 1.75rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: .2rem;
  text-underline-offset: .25rem;
  padding-block-end: 1rem;
}

.mvContent, .cvContent {
  font-size: 1.15rem;
  font-weight: 700;
  padding-block-end: 1rem;
}

.cvSection {
  padding-block-end: 10rem;
  margin-block-end: 5rem;
}

.cvSection > p {
  font-size: 1.15rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  line-height: 1.3;
  padding-block: .5rem 2rem;
}

.cvCard-container {
  width: 60%;
  margin: 0 auto;
  display: grid;
  gap: 5rem;
}

.cvSection {
  background-image: url(../assets/Black\ Line\ graphic\(opacity10\).svg);
  background-position: bottom center;
  background-repeat: space repeat;
}

.MVredAccent {
  width: 40%;
  height: .5rem;
  background-color: var(--clr-primary-200);
  border-radius:4px;
}

.CVredAccent {
  width: 35%;
  height: .5rem;
  background-color: var(--clr-primary-200);
  border-radius:4px;
}

@media (max-width: 478px) {
  .mvSection h2, .cvSection h2 {
    font-size: 1.4rem;
    font-weight: 800;
  }

  .mvTitle-container > p {
    font-size: 1rem;
    width: 100%;
    line-height: 1.2;
  }

  .mvCard-container {
    width: 90%;
    gap: 2rem;
  }

  .mvCard, .cvCard {
    padding: .5rem 1rem .75rem 1rem;
  }

  .mvTitle, .cvTitle {
    font-size: 1.3rem;
    text-decoration-thickness: .15rem;
    text-underline-offset: .2rem;
    padding-block-end: 1rem;
  }

  .mvContent, .cvContent {
    font-size: .9rem;
    line-height: 1.2;
  }

  .cvSection > p {
    font-size: 1rem;
    width: 100%;
    line-height: 1.2;  }

  .cvCard-container {
    width: 90%;
    gap: 2rem;
  }
}

/* Attendance Page */
.attendanceSection {
  padding-block-start: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-family: var(--ff);
  padding-block-end: 10rem;
}

.attendanceSection h1 {
  font-family: var(--ff);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: .8;
}

.hidden { 
  display: none; 
}

.filters {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  
  text-align: center;
  color: var(--clr-primary-300);
  font-size: 1rem;
  font-weight: 600;
}

.dateTime-selectors {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#rosterUpload {
  cursor: pointer;
}

.attendanceTable {
  width: 35rem;
  border-collapse: collapse;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,.35);
}

.attendanceTable thead {
  background-color: var(--clr-primary-200);
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-primary-100);
}

.thOne {
  width: 40%;
  text-align: start;
  padding-inline-start: .5rem;
  padding-block: .5rem;
  border-top-left-radius: 5px;
}

.thThree {
  text-align: start;
}

.col-age {
  width: 30%;
  text-align: start;
}

.thTwo {
  border-top-right-radius: 5px;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
tbody tr:nth-child(even) { 
  background:#eef0f1; 
}

td { 
  padding: .5rem;
  font-size: 1rem;
  font-weight: 600;
}

.col-status {
  display: flex;
  justify-content: center;       
  align-items: center;          
}

.toggle {
  --false: var(--clr-primary-200);   /* Absent (right) */
  --mid:   var(--clr-primary-300);   /* Unsure (center) */
  --true:  #009067;   /* Present (left) */

  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2rem ;
  background: #ffffff;
  cursor: pointer;
  vertical-align: middle;
  transition: background .3s ease;
  background-color: var(--clr-primary-100);
  box-shadow:-2px 2px rgba(0,0,0);
  border-radius: 4px;
  border: 2px solid var(--clr-primary-300);
}

/* Track tint by state (optional) */
.present.toggle { background:#f3f4f6; }
.unsure.toggle  { background:#f3f4f6; }
.absent.toggle  { background: #f3f4f6; }

/* --- sliding square knob --- */
.toggle::before {
  content:'';
  position:absolute;
  top:50%; 
  left: .3rem;       /* left pad = .3rem */
  width:1.4rem; height:1.4rem;  /* square knob */
  border-radius: 4px;
  transform: translateY(-50%);
  transition: transform .3s ease, background .3s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,.25);
}

.knob-label {
  position: absolute;
  top: 50%;
  left: 0;          
  font-size: 1rem;
  color: var(--clr-primary-300);
  pointer-events: none;
  transition: transform .3s ease;
}

/* knob colors + positions */
.present.toggle::before {       /* far left */
  background: var(--true);
  transform:translate(0rem, -50%);
}

.unsure.toggle::before  {        /* center */
  background: var(--mid);
  transform: translate(2rem, -50%);
}

.absent.toggle::before {        /* far right */
  background: var(--false);
  transform: translate(3.7rem, -50%);
}


.present { background: #16a34a; } 
.unsure  { background: #9ca3af; } 
.absent  { background: #dc2626; }

.bulk-container {
  background-color: var(--clr-primary-100);
  box-shadow: -5px 5px rgba(0,0,0);
  border-radius: 10px;
  border: 3px solid var(--clr-primary-300);
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bulk-container p {
  padding-block-start: .5rem;
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
}

.bulk-actions {
  font-size: 1.25rem;
  font-weight: 700;
}

.bulk-actions button {
  margin-block: 1rem;
  margin-inline: .25rem;
  padding: .2rem 1.3rem;
  border: none;
  border-radius: .4rem;
  font-size: .85rem;
  cursor: pointer;
  color: #fff;
  
}

.bulk-actions button[data-action="present"] { background:#16a34a; }
.bulk-actions button[data-action="unsure"]  { background:#9ca3af; }
.bulk-actions button[data-action="absent"]  { background:#dc2626; }

@media (max-width: 478px) {
  .attendanceSection h1 {
  font-size: 2rem;
  line-height: .5;
  }

  .filters {
    width: 95%;
    font-size: 1rem;
    padding-block: 1rem;
  }

  .attendanceTable {
    width: 95%;
  }

  .bulk-container {
  background-color: var(--clr-primary-100);
  box-shadow: -5px 5px rgba(0,0,0);
  border-radius: 10px;
  border: 3px solid var(--clr-primary-300);
  width: 95%;
  }

  .thOne {
    width: 50%;
  }

  .col-age {
    width: 20%;
    text-align: start;
  }
}

/* metrics.html */

.metricsH1 {
  padding-block-start: 10rem;
  font-family: var(--ff);
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.metricsFilters {
  font-family: var(--ff);
  font-weight: 500;
  font-size: 1rem;
  display:flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  padding-block-end: 1.25rem;
}

.kpi-wrap {
  display:flex;
  gap:1rem;
  flex-wrap:wrap;
  margin-bottom:1rem;
}

.kpi {
  flex:1 1;
  background-color: var(--clr-primary-200);
  box-shadow:-8px 8px var(--clr-primary-300);
  border-radius: 10px;
  border: 4px solid var(--clr-primary-300);

  padding:.6rem;
  text-align: center;
  color: var(--clr-primary-100);
  font-family: var(--ff);
  font-weight: 700;
  font-size: 1.25rem;
}

#trendCard {
  background:#fff;
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: .5rem;
  margin-bottom: 1rem;
  font-family: var(--ff);
  width: 100%;
  margin-inline: auto;
}

.table-wrap {
  overflow-x:auto;
}

.metricsTable {
  width: 80%;
  margin-inline: auto;
  border-collapse:collapse;
  margin-block-end: 5rem;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,.35);
}

.metricsTable-roundedLeft {
  border-top-left-radius: 5px;
}

.metricsTable-roundedRight {
  border-top-right-radius: 5px;
}

.metricsTable th {
  background-color: var(--clr-primary-200);
  font-family: var(--ff);
  font-weight: 700;
  font-size: 1.15rem;
  color: var(--clr-primary-100);
}

.metricsTable th, .metricsTable td {
  padding:.5rem .75rem;
  border-bottom:1px solid #e5e7eb;
  text-align:center;
  font-family: var(--ff);
  font-weight: 700;
} 

.modal {
  position:fixed;
  inset:0;
  display:none;
  align-items:center;
  justify-content:center;
  background:rgba(0,0,0,.5);
}

.modal>.box {
  background:#fff;
  padding:1rem;
  border-radius:.5rem;
  max-height:80vh;
  overflow:auto;
  min-width:300px;
}

.modal.show {
  display:flex;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
tbody tr:nth-child(even) { 
  background:#eef0f1; 
}

#detailTable tr.goal { 
  background:#d1fae5;; 
}

th .th-full { display: inline; }
th .th-sm   { display: none; }


@media (max-width: 478px) {
  .metricsH1 {
  padding-block-start: 9rem;
  padding-block-end: 1rem;
  font-size: 2.5rem;
  }

  .metricsFilters {
  font-size: .87rem;
  gap: .5rem;
  padding-block-end: 1.25rem;
  }

  .kpi-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  } 

  .kpi {
    background-color: var(--clr-primary-300);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: .6rem;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #trendCard {
    padding: .25rem;
  }

  .metricsTable {
    width: 95%;  }

  .metricsTable th {
    font-weight: 700;
    font-size: .9rem;
    color: var(--clr-primary-00);
    padding: .4rem .2rem;
  }

 .metricsTable td {
    border-bottom:1px solid #e5e7eb;
    font-size: .85rem;
    text-align: start;
  } 

  th .th-full {
    display: none; 
  }

  th .th-sm { 
    display: inline;
  }
}

/* Dashboard.html */

/* ======== Dashboard CSS ======== */

/* 1. Container & Top Bar */
.dashboard-container {
  padding-block-start: 10rem;
  height: 100vh;
}

.dashboard-top {
  font-family: var(--ff);
  color: var(--clr-primary-300);
  text-align: center; 
}
 
.dashboard-welcome {
  font-size: 2rem;
  font-weight: 800;
  padding-block-end: .5rem;
}

.logout {
  box-shadow: -5px 5px rgba(0,0,0);
  border: 3px solid var(--clr-primary-300);
  border-radius: 5px;
  width: 150px;
  padding-block: .25rem;
  margin-block-end: 2rem;
  color: var(--clr-primary-300);
  font-weight: 500;
  font-size: 1.05rem;
  background-color: var(--clr-primary-100);
  position: relative;
  transition: all 250ms;
  z-index: 0;
}

.logout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: var(--clr-primary-200);
  z-index: -1;
  transition: all 250ms;
}

.logout:hover {
  color: var(--clr-primary-100);
}

.logout:hover::before {
  width: 100%;
}

/* 2. Responsive Grid for Cards */
.cards-grid {
  display: grid;
  gap: 24px;
}
@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 769px) {
  .cards-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* 3. Generic Card Styling */

.dashboardLinks {
  background-color: var(--clr-primary-100);
  box-shadow:-8px 8px rgba(0,0,0);
  border-radius: 10px;
  font-family: var(--ff);
  border: 4px solid var(--clr-primary-300);
  background: #fff;
  padding: 1rem;
  margin-block-end: 2rem;
}
.card {
  background-color: var(--clr-primary-100);
  box-shadow:-8px 8px rgba(0,0,0);
  border-radius: 10px;
  font-family: var(--ff);
  border: 4px solid var(--clr-primary-300);
  background: #fff;
  padding: 16px;
}
.card h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.25rem;
  font-weight: 700;
}

.highlight-row {
  background-color: #fffbec; /* Light yellow for logged-in coach */
}

/* 5. Quick Stats & Lists */
#quickStatsCard p {
  font-size: 1rem;
  margin-bottom: 12px;
}
#quickStatsCard ul {
  list-style: none;
  padding-left: 0;
}
#quickStatsCard li {
  margin-bottom: 4px;
}

/* 6. Jump-to Buttons */
.card-cta {
  text-align: center;
  padding: 24px;
}


.meetNotes-button {
  background-color: var(--clr-primary-300);
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-inline-end: 1rem;
}

.button-primary:hover,
.button-secondary:hover {
  opacity: 0.9;
}

/* 7. Upcoming Events & Birthdays Lists */
#eventsCard ul,
#birthdaysCard ul {
  list-style: none;
  padding: 0;
}

#eventsCard li,
#birthdaysCard li {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  font-size: 0.95rem;
}

#eventsCard li:last-child,
#birthdaysCard li:last-child {
  border-bottom: none;
}

.handbook-item {
  margin-bottom: 12px;
}
.handbook-item a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.handbook-item small {
  display: block;
  color: #666;
  font-size: 0.8rem;
  margin-top: 4px;
}

/* Meets-Notes.html */

/* Page Container */
.notes-container {
  padding-block-start: 10rem;
  max-width: 1000px;
  margin: 0 auto;
  font-family: var(--ff);
}

.meetNotes-title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}
/* Filter Bar */
.filter-bar {
  text-align: center;
  padding-block: 1rem;
}

.filter-bar label {
  margin-right: .5rem;
  font-weight: 700;
  font-size: 1.25rem;
}
.filter-bar select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
}
/* Age Group Section */
.age-group {
  margin-bottom: 32px;
  font-weight: 700;
}

.age-group h4 {
  margin-bottom: 8px;
  font-size: 1.25rem;
  border-bottom: 2px solid var(--clr-primary-300);
  padding-bottom: 4px;
}
.notes-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 12px;
  border-collapse: collapse;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,.35);
}

.notes-table th {
  background-color: var(--clr-primary-200);
  font-weight: 700;
  padding: 10px 12px;
  text-align: left;
  font-size: 1.05rem;
  color: var(--clr-primary-100);
}
  .notes-table td {
  padding: 4px;
}

.add-row-btn {
  display: inline-block;
  background: var(--clr-primary-300);
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}
.add-row-btn:hover {
  opacity: 0.9;
}

.delete-row-btn {
  background-color: var(--clr-primary-200); 
  color: var(--clr-primary-100);
  padding: 1px 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: .8rem;
  font-weight: 900;
}

/* Input Styles */
.notes-input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.95rem;
}

@media (max-width: 487px) {
  .notes-container {
    width: 95%;
    margin: 0 auto;
  }

  .meetNotes-title {
  font-size: 2rem;
  line-height: .8;
  }

  .filter-bar label {
    display: block;
    padding-block-end: .4rem;
  }

  .filter-bar select {
    display: block;
    width: 45%;
    color: var(--clr-primary-300);
    margin: 0 auto;
    font-weight: 700;
  }
}

/* Best-Times.html */

.bestTimes-Section {
  padding-block-start: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-family: var(--ff);
  padding-block-end: 10rem;
}

.bestTimes-Section h1 {
  font-family: var(--ff);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: .8;
}

.searchInput {
  text-align: center;
}

.bestTimes-Filters {
  display: flex;
  gap: .5rem;
  
  text-align: center;
  color: var(--clr-primary-300);
  font-size: 1rem;
  font-weight: 600;
}

.bestTimes-Table {
  width: 50rem;
  border-collapse: collapse;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,.35);
  text-align: center;
}

.bestTimes-Table thead {
  background-color: var(--clr-primary-200);
  font-size: 1.25rem;
  font-weight: 700;

  color: var(--clr-primary-100);
  text-align: center;
}

.bestTimes-Table th {
  padding-block: 0.5rem;
}

.bestTimes-Table .leftRadius {
    border-top-left-radius: 5px;
}

.bestTimes-Table .rightRadius {
    border-top-right-radius: 5px;
}



.hidden {
  display: none !important;
}

.modal-overlay {
  position: fixed;
  top: 0;   right: 0;
  bottom: 0; left: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--ff);
  background: #fff;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  width: 33%;                   
  max-width: 500px;
  padding: 1.5rem;   
  text-align: center;   
  font-size: .95rem;        
}

.btModal-Title {
  color: var(--clr-primary-300);
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 4px solid red;
  text-align: center;
}

.btModal-Close {
  background-color: var(--clr-primary-200);
  color: var(--clr-primary-100);
  border: none;
  border-radius: 5px;
  width: 25%;
  margin: 0 auto;
  padding-block: .25rem;
  cursor: pointer;
}

@media (max-width: 478px) {
  .bestTimes-Section h1 {
  font-size: 2rem;
  line-height: .5;
  padding-bottom: .5rem;
  }

  .bestTimes-Filters {
    width: 95%;
    font-size: 1rem;
  }

  .filterGrid {

  }

  .bestTimes-Table {
    width: 95%;
  }

  .bestTimes-Table thead {
  font-size: .75rem;
  } 

  .bestTimes-Table td {
    font-size: .55rem;
  }

  .bestTimes-Table .leftRadius {
    border-top-left-radius: 5px;
    padding-inline-start: .5rem;
  }
}